---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

---

<Layout
  title='Organisation'
  pageTitle='Organisation'
  description='Organisation'
>
  <main class='bg--#00 p-6'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>Info</h2>
<div class='col-span-8'>
        <Card color="#EE2737">
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Le bureau
            </p>
          </div>
        </Card>
    </section>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-8'>
      </div>
      <div class='col-span-4'>
          <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-2xl md:text-3xl lg:text-7xl'>
              Maurane Riesen
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-5xl'>
              Co-présidente,<br> députée (La Neuveville)
            </p>
          </div>
        </Card>
      </div>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-2xl md:text-3xl lg:text-7xl'>
              Jérôme Benoit
            </p>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-5xl'>
            Co-président <br> (Romont)
            </p>
          </div>
        </Card>
      </div>
 
        </Card>
      </div>
    </section>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-8'>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-2xl md:text-3xl lg:text-7xl'>
              Gilles Marchand
            </p>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-5xl'>
              Communication <br> (Tavannes)
            </p>
          </div>
       </Card>
 </div>
        <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-2xl md:text-3xl lg:text-7xl'>
              Chiara Voisin
            </p>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-5xl'>
              Trésorière, <br> 
              conseillère de ville (Saint-Imier)
            </p>
          </div>
        </Card>
      </div>
<div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-2xl md:text-3xl lg:text-7xl'>
            Quentin Colombo
            </p>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-5xl'>
           Secrétaire du parti 
            </p>
          </div>
          

    </section>

    
  </main>

   <main class='bg--#00 p-6'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>Info</h2>
<div class='col-span-8'>
        <Card color="#EE2737">
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Le comité directeur
            </p>
          </div>

           </Card>
    </section>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-8'>
      </div>
      <div class='col-span-8'>
          <Card>
          <div class='flex flex-col justify-between items-start gap-1'>
            <p class='mt-4 outfit text-xl md:text-1xl lg:text-7xl'>
              Le comité directeur (CoDir) se compose des élu-e-s du PSGC au parlement national, cantonal et régional (Conseil du Jura bernois), 
              ainsi qu'à la préfécture et au gouvernement cantonal. Il peut être complété par des représentant-e-s des sections locales ainsi 
              que d'autres personnes intéressées. Le bureau fait également partie du CoDir.
              <br> 
              <br> 
               Le CoDir et nommé par le Congrès. En plus du bureau nommé ci-dessus, les personnes suivantes font partie du CoDir:
            <p class='mt-2 outfit text-xl md:text-1xl lg:text-5xl'>
              Sandra Roulet Romy, députée (Valbirse) <br> 
              Thierry Gagnebin, député et membre du CJB (Tramelan) <br> 
              Elisabeth Beck, membre du CJB (Saint-Imier) <br> 
              Denise Bloch, membre du CJB (La Neuveville) <br> 
              Peter Gasser, membre du CJB (Valbirse) <br> 
              Morena Pozner, membre du CJB (Corgémont) <br> 
              Jean-Luc Berberat, membre du CJB <br> 
              Jessica Froidevaux, membre du CJB <br> 
              Philippe Perrenoud, ancien Conseiller d'Etat (Tramelan) <br> 
            </p>
          </div>
</Layout>
